/* Variáveis Globais */
:root {
  --cor-primaria: #642F6C;
  --cor-secundaria: #2ecc71;
  --cor-texto: #C9A227;
  --cor-fundo: #1B1B1B;
  --lightning: #FF0000;
  --accent: #D72638;
  --fonte-padrao: 'eldenFont', sans-serif;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-padrao);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  line-height: 1.6;
  text-align: center;
}

/* Cabeçalho */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--cor-primaria);
  padding: 15px;
  color: var(--cor-texto);
}

.navbar li{
  position: relative;
  display: inline-block;
}

.navbar li::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 2px;
  background-color: var(--accent);
}

.navbar li:hover::after{
  animation-name: expandir-barra;
  animation-duration: 0.5s;
  animation-fill-mode : forwards;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: var(--cor-texto);
  text-decoration: none;
  font-weight: bold;
}

/* Hero Section */
.hero {
  padding: 50px;
  background-image:url(assets/starscourge.gif);
  background-size: contain;
  background-position: center;
  color: var(--cor-texto);
}

.btn {
  background: var(--cor-primaria);
  color: var(--cor-texto);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'eldenFont';
  font-size: 16px;
}

.btn:hover {
  background-color: var(--accent);
  box-shadow: 0 0 20px var(--lightning), 0 0 40px var(--accent);
  animation: flicker 0.1s infinite alternate, pop-glow 0.3s infinite alternate;
}

/* Sobre */
.sobre img {
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

/* Projetos Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: var(--cor-fundo);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--accent);
}

.card img {
  width: 80%; 
  height: 200px; 
}

/* Formulário de Contato */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: var(--cor-secundaria);
  color: var(--cor-texto);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}



/* Rodapé */
footer {
  margin-top: 20px;
  padding: 10px;
  font-family: sans-serif;
  background: var(--cor-primaria);
  color: var(--cor-texto);
}

@media only screen and (max-width :768px) {
  .hero {
      padding-top :20px; 
      padding-bottom :20px; 
  }
}

@keyframes flicker {
  0% { 
    text-shadow: 0 0 5px var(--lightning), 0 0 10px var(--lightning-alt); 
    box-shadow: 0 0 15px var(--lightning);
  }
  50% { 
    text-shadow: 0 0 8px var(--lightning), 0 0 15px var(--lightning-alt); 
    box-shadow: 0 0 25px var(--lightning);
  }
  100% { 
    text-shadow: 0 0 12px var(--lightning), 0 0 20px var(--lightning-alt); 
    box-shadow: 0 0 35px var(--lightning);
  }
}

@keyframes expandir-barra {
  from { 
      width :0%; 
      left :50%;
      transform :translateX(-50%);
   }
   
   to { 
       width :100%; 
       left :0%;
       transform :translateX(0);
   }
}

@font-face {
  font-family: "eldenFont";
  src: url(assets/Mantinia-Regular/Mantinia-Regular.otf);
}